<app-home-page></app-home-page>

<h2>Enter your task :-</h2>
<div style="display: flex; width: 500px; gap: 10px; margin-bottom: 20px">
  <input type="text" [(ngModel)]="val" (keydown.enter)="addTask()" />
  <button (click)="addTask()">Add</button>
</div>
<!-- ; trackby: trackByIndex -->
<div
  *ngFor="let item of task; let i = index; trackBy: trackByIndex"
  style="display: flex; align-items: center; padding-bottom: 10px"
>
  {{ i + 1 }}.
  <label *ngIf="editInd !== i" style="margin-left: 10px">
    {{ item | uppercase }}
  </label>
  <input
    style="margin-left: 10px; width: 400px"
    *ngIf="editInd === i"
    [(ngModel)]="editVal"
    (keydown.enter)="save()"
  />

  <div *ngIf="editInd !== i">
    <button style="margin-left: 10px" (click)="deleteTask(i)">Delete</button>
    <button style="margin-left: 10px" (click)="editTask(i)">Edit</button>
  </div>
  <div *ngIf="editInd === i">
    <button style="margin-left: 10px" (click)="save()">Save</button>
    <button style="margin-left: 10px" (click)="cancel()">Cancel</button>
  </div>
</div>
<!-- <body>
  <div class="container">
    <div class="nav-tabs">
      <button
        [routerLink]="['/login']"
        [queryParams]="{ isLogin: true }"
        [class.active]="isLogin"
        (click)="isLogin = true; this.errMsg = {}"
      >
        Login
      </button>
      <button
        [routerLink]="['/signUp']"
        [queryParams]="{ isLogin: false }"
        [class.active]="!isLogin"
        (click)="isLogin = false; this.errMsg = {}"
      >
        Sign Up
      </button>
    </div>

    <div class="form-container">
      <h2 *ngIf="isLogin">Login</h2>
      <h2 *ngIf="!isLogin">Sign Up</h2>

      <form [formGroup]="isLogin ? loginData : signupData">
        <div *ngIf="!isLogin">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              placeholder="Enter your full name"
              required
              (blur)="updateErrMsg('name')"
            />
            @if (errMsg['name']) {
            <small class="danger">{{ errMsg["name"] }}</small>
            }
          </div>

          <div class="form-group">
            <label for="age">Age</label>
            <input
              type="text"
              id="age"
              formControlName="age"
              placeholder="Enter your age"
              required
              (blur)="updateErrMsg('age')"
            />
            @if (errMsg['age']) {
            <small class="danger">{{ errMsg["age"] }}</small>
            }
          </div>

          <div class="form-group">
            <label for="gender">Gender</label>
            <input
              type="text"
              id="gender"
              formControlName="gender"
              placeholder="Enter your gender"
              required
              (blur)="updateErrMsg('gender')"
            />
            @if (errMsg['gender']) {
            <small class="danger">{{ errMsg["gender"] }}</small>
            }
          </div>

          <div class="form-group">
            <label for="contact">Phone Number</label>
            <input
              type="tel"
              id="contact"
              formControlName="contact"
              placeholder="Enter your contact number"
              required
              (blur)="updateErrMsg('contact')"
            />
            @if (errMsg['contact']) {
            <small class="danger">{{ errMsg["contact"] }}</small>
            }
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
            required
            (blur)="updateErrMsg('email')"
          />
          @if (errMsg['email']) {
          <small class="danger">{{ errMsg["email"] }}</small>
          }
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Enter your password"
            required
            (blur)="updateErrMsg('password')"
          />
          @if (errMsg['password']) {
          <small class="danger">{{ errMsg["password"] }}</small>
          }
        </div>

        <div *ngIf="!isLogin">
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input
              type="password"
              id="confirm-password"
              formControlName="confirmPass"
              placeholder="Confirm password"
              required
              (blur)="updateErrMsg('confirmPass')"
            />
            @if (errMsg['confirmPass']) {
            <small class="danger">{{ errMsg["confirmPass"] }}</small>
            }
          </div>
        </div>

        <button
          type="submit"
          (click)="isLogin ? login() : signup()"
          class="btn"
          [disabled]="isLogin ? loginData.invalid : signupData.invalid"
        >
          {{ isLogin ? "Sign In" : "Sign Up" }}
        </button>

        <div class="form-footer">
          <p *ngIf="isLogin">
            Don't have an account?
            <a
              (click)="isLogin = false"
              [routerLink]="['/signUp']"
              [queryParams]="{ isLogin: false }"
              >Sign Up</a
            >
          </p>
          <p *ngIf="!isLogin">
            Already have an account?
            <a
              (click)="isLogin = true"
              [routerLink]="['/login']"
              [queryParams]="{ isLogin: true }"
              >Login</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</body> -->
